name: CI_Build_Pipeline

# workflow_dispatch:  Allows you to run this workflow manually from the Actions tab
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Merge_Build:
    if: github.event_name == 'main'
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo The PR was merged

    - uses: actions/checkout@v3

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3.0.3

    - name: Execute Nuke
      working-directory: 'src/AzFunctionsWithKeyVault/build'
      run:  dotnet run -target Pack

  PullRequest_Build:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.0.3

      - name: Execute Nuke
        working-directory: 'src/AzFunctionsWithKeyVault/build'
        run:  dotnet run -target Tests